# Archivos y carpetas de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Entornos virtuales
.venv/
venv/
env/
ENV/

# Archivos de configuración locales
*.env
*.DS_Store

# Archivos temporales de ejecución
*.log
*.tmp
*.bak

# Base de datos local (si no quieres subirla al repo)
*.db

# Archivos generados por OCR o PDFs temporales
ocr_output/
extracted_text/
*.pdf

# Archivos de desarrollo Streamlit
.streamlit/

# Datos exportados o backups
/export/
backups/
*.zip
